<li class='link'>
	<a class='title' href="<%= link.url %>"><%= link.title %></a>
	<div class='description'>
		<p><%= link.description %>
	</div>
	<span class="source">
		added by
		<% if link.user %>
			<a href="<%= link.user %>"><%= link.user %></a>
		<% else %>
		Anonymous
		<% end %>
	</span>
</li>
